<li>
    <%= comment.content %> - 
    <%= form_with(model: [comment, Comment.new]) do |f| %>
      <%= f.text_field :content, placeholder: "Write a reply..." %><br/>
    <% end %>
  <ul>
      <%= render partial: 'comments/comment', collection: comment.comments %>
  </ul>

    <%#= render 'comments/form', collection: comment.comments %>
</li>
