<p><i class="fas fa-graduation-cap"></i> Studied at Symbiosis Law School</p>
<p><i class="fas fa-home"></i> Lives in <strong>San Francisco, California</strong></p>
<p><i class="fas fa-map-marker-alt"></i> From <strong>New York</strong></p>
<p><i class="fas fa-clock"></i> Joined February 2009</p>