<div class="column is-6">
  <div class="hero-body">
      <div class="container has-text-centered">
        
          <div class="box">
            <figure class="avatar">
                <img src="https://bulma.io/images/placeholders/256x256.png">
            </figure>
            <h1 class="title"><%= @user.name %></h1>
            <h2 class="subtitle is-6">I only check Facebook once a week; don't expect fast responses. I hate hate hate Facebook.</h2>
          </div>
      </div>
  </div>
</div>





