<div class="column is-6">
    <div class="box column">
        <h1 class="title has-text-centered is-size-5 mt-2 mb-3">Edit Post</h1>
        <article class="media">
            <figure class="media-left">
            <p class="image is-48x48">
                <%= image_tag user_avatar(current_user,300), class: "is-rounded" %>
            </p>
            </figure>
            <div class="media-content">
            <div class="content">
                <p>
                <strong><%= current_user.name %></strong>
                <br>
                <%= render 'form' %>
                </p>
            </div>      
        </article>
        <figure class="upload-preview image is-square mb-2" style="display: none;" id="uploadPreview">
            <img  />
        </figure>
        <div class="field is-grouped">
            <input type="submit" name="commit" value="Update" data-disable-with="Post" form="new-post-form" class="button is-fullwidth is-link mt-1">
            <label for="upload" class="custom-file-upload">
                <i class="far fa-file-image has-text-primary fa-2x"></i>
            </label>
        </div>
    </div>
</div>