<div class="column is-6">
    <div class="box column">
        <h1 class="title has-text-centered is-size-5 mb-3">Edit Post</h1>
        <article class="media">
            <figure class="media-left">
            <p class="image is-48x48">
                <%= image_tag user_avatar(current_user,300), class: "is-rounded" %>
            </p>
            </figure>
            <div class="media-content">
            <div class="content">
                <p>
                <strong><%= current_user.name %></strong>
                <br>
                <%= render 'form' %>
                </p>
            </div>      
        </article>
        <div class="field">
            <input type="submit" name="commit" value="Update" data-disable-with="Post" form="new-post-form" class="button is-fullwidth is-link">
        </div>
    </div>
</div>