 $menu-label-font-size: 1.1em;
 $menu-item-radius: 5px;
 .menu {
    position: sticky;
    display: inline-block;
    vertical-align: top;
    max-height: 100vh;
    overflow-y: auto;
    top: 0;
    bottom: 0;
 }
 #post-input {
    border: none;
    border-color: transparent;
    box-shadow: none;
 }
 html, body {
   height: 100vh;
 }
 button.dropdown-item {
    background-color: white;
    border: none;
 }
 button.dropdown-item:hover{
    background-color: whitesmoke;
    cursor: pointer;
 }

 @import "bulma"; 