<div class="column is-3">
  <aside class="menu">
    <p class="menu-label">
      Main Resources
    </p>
    <ul class="menu-list">
        <li>Test 1</li>
        <li>Test 2</li>
    </ul>
    <p class="menu-label">
      Other Resources
    </p>
    <ul class="menulist">
        <li>Test 3</li>
        <li>Test 4</li>
    </ul>
  </aside>
</div>